<!-- <div class="border">
    <h2 *ngIf="content && content.title else elseBlockNameIsWhateverYouWant" appHoverAffect >
        {{ content.title }}
    </h2> -->
    <!-- <img *ngIf="contentItem" src="{{contentItem.imageUrl}}"> -->
    <!-- <img *ngIf="content && content.imgURL else elseBlockNameIsWhateverYouWant" [src]="content.imgURL"> 
    <img *ngIf="content && content.imgURL else elseBlock" [src]="content.imgURL" (click)="pritnItem()">
    <p class="body" *ngIf="content && content.description; else elseBlockNameIsWhateverYouWant">{{content.description}}</p>

    <div class="type"  *ngIf="content && content.type else elseBlockNameIsWhateverYouWant" appHoverAffect hoverAffect="type">{{content.type}}</div>
    <div class="author"  *ngIf="content && content.creator else elseBlockNameIsWhateverYouWant">{{content.creator}}</div>
    
    <div class="tags" *ngIf="content && content.tags else elseBlockNameIsWhateverYouWant" appHoverAffect hoverAffect="tag" >{{ content.tags }} </div>

    <ng-template #elseBlock>
      <img [src]="'../assets/images/DefaultIMg.png'" alt="">
      </ng-template>

    <ng-template #elseBlockNameIsWhateverYouWant>
        <p hidden></p>
    </ng-template>
</div>   -->

<mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="content && content.title else elseBlockNameIsWhateverYouWant">{{ content.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="content && content.creator else elseBlockNameIsWhateverYouWant">Author: {{ content.creator }}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="content && content.imgURL else elseBlockNameIsWhateverYouWant" mat-card-image src="{{ content.imgUrl }}" alt="{{ content.title }}">
    <mat-card-content>
      <p *ngIf="content && content.description; else elseBlockNameIsWhateverYouWant">{{ content.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/detail/{{ content.id }}">View</button>
      <button mat-button>Like</button>
    </mat-card-actions>
  </mat-card>
  

