/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";

$custom-theme-primary: mat-palette($mat-blue-grey);
$custom-theme-accent:  mat-palette($mat-deep-orange);

$custom-theme: mat-light-theme(
  (
    color: (
      primary: $custom-theme-primary,
      accent: $custom-theme-accent,
    ),
  ),
);

// Apply the custom theme to the application
@include mat-core();
@include angular-material-theme($custom-theme);