<!-- <p>content-list works!</p> -->

<!-- <input ngModel for="inputvalue?" id="aut"/>
<button (click)="clickEvent()">Click me!</button>
<div class="aut" id="msg"></div>  -->

 <!-- <div>
    <app-content-card *ngFor="let content of content; index as i; first as idFirst; odd as odd; even as even;" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div> -->
<br>
<br>
<br>
<br>
<br>

<app-modify-content></app-modify-content>

<br>
<br>

<form #contentForm="ngForm" class="content-form">
    <label for="contentId">Enter content ID:</label>
    <input type="number" id="contentId" name="contentId" required [(ngModel)]="contentId">
    <button type="button" (click)="getContent()">Get Content</button>
  </form>
<app-messages></app-messages>

<div class="card shadow-card">
    <app-content-card  class="card shadow-card" ></app-content-card>
</div>




<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Anime'" [content]="content" class="chess-player-{{i}} border" class="Anime"></app-content-card>
    
</div>
<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Manga'" [content]="content" class="chess-player-{{i}} border" class="Manga"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Action'" [content]="content" class="chess-player-{{i}} border" class="Manga"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="!content.type" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div>
 


<!-- <ul>
    <li *ngFor="let content of content" >
        <h1>{{content.id}}</h1>
      <h3>{{content.title}}</h3>
      <p>{{content.description}}</p>
    </li>
  </ul> -->